<div class="project-list-container">
    <div class="header">
        <h2>Projetos</h2>
        <div class="actions">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    [(ngModel)]="searchQuery"
                    (ngModelChange)="onSearch($event)"
                    placeholder="Buscar projetos..."
                />
            </span>
            <button
                type="button"
                title="Novo Projeto"
                pButton
                label="Novo Projeto"
                icon="pi pi-plus"
                (click)="createProject()"
            ></button>
        </div>
    </div>

    <p-table
        [value]="(projects$ | async) || []"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} projetos"
        [rowsPerPageOptions]="[10,20,50]"
        [loading]="loading"
    >
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Nome do Projeto</th>
                <th scope="col">Status</th>
                <th scope="col">Data de Início</th>
                <th scope="col">Membros</th>
                <th scope="col">Tarefas</th>
                <th scope="col">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr>
                <td>
                    <div class="project-name">
                        <span class="name">{{project.name}}</span>
                        <span class="description">{{project.description}}</span>
                    </div>
                </td>
                <td>
                    <span class="status-badge" [class]="project.status.toLowerCase()">
                        {{project.status}}
                    </span>
                </td>
                <td>{{project.startDate | date:'shortDate'}}</td>
                <td>
                    <div class="member-avatars">
                        <img *ngFor="let member of project.members.slice(0,3)"
                            [src]="member.avatarUrl || 'assets/default-avatar.png'"
                            [alt]="member.name"
                            class="member-avatar"
                        />
                        <span *ngIf="project.members.length > 3" class="more-members">
                            +{{project.members.length - 3}}
                        </span>
                    </div>
                </td>
                <td>
                    <div class="task-progress">
                        <div class="progress-bar">
                            <div class="progress"
                                    [style.width.%]="getTaskProgress(project)"></div>
                        </div>
                        <span class="progress-text">
                            {{getCompletedTasks(project)}} / {{project.tasks.length}}
                        </span>
                    </div>
                </td>
                <td>
                    <div class="action-buttons">
                        <button 
                            type="button"
                            title="Editar Projeto"
                            pButton
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-text"
                            (click)="editProject(project)">
                        </button>
                        <button 
                            type="button"
                            title="Excluir Projeto"
                            pButton
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                            (click)="deleteProject(project)">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>